<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_settings>
            <general>
                <enable>1</enable>
            </general>
            <storefront>
                <news_link>Latest News</news_link>
                <set_limit>10</set_limit>
            </storefront>
        </custom_settings>
    </default>
</config>